:root {
  --primary: #000;
  --secondary: rgb(255, 205, 224);
  --accent: #e68bae;
  --secondary-accent: #995770;
  --shadow: rgba(255, 193, 228, 0.521);
  --app-bg: #fff;
  --border: rgb(231, 209, 222);
  --gradient: linear-gradient(
    180deg,
    rgb(255, 227, 240) 0%,
    rgb(255, 216, 236) 59%,
    rgb(255, 210, 222) 100%
  );

  --font-size-one: calc(0.5rem + 0.9vw);
  --font-size-two: calc(0.4rem + 0.5vw);
  --font-size-three: calc(0.2rem + 0.5vw);
  --font-size-small: calc(0.2rem + 0.5vw);
  --font-size-heading: calc(1.8rem + 1vw);
  --font-size-switches: calc(0.3rem + 0.4vw);
  --font-size-small-img: calc(0.8rem + 0.8vw);
}

[data-theme="dark"] {
  --primary: #fff;
  --secondary: #f06292;
  --accent: #9fa8da;
  --secondary-accent: #f50057;
  --shadow: rgba(41, 41, 41, 0.521);
  --app-bg: #424242;
  --border: #3a3a3a;
  --gradient: #212121;
}

body {
  background: var(--gradient) fixed;
  color: var(--primary);
}

.app-container {
  margin: 30px auto 10px;
  max-width: 720px;
}

.just-the-app {
  background: var(--app-bg);
  border-radius: 24px;
  border: var(--border);
  font-family: "Poppins", sans-serif;
}

.search-field {
  text-align: center;
  padding-top: 10px;
}

.search-bar {
  width: calc(10rem + 10vw);
  font-size: var(--font-size-two);
  border: 2px solid var(--border);
  border-radius: 4px;
  transition: all 0ms ease-in-out;
}

.search-bar:focus {
  box-shadow: 0px 0px 0px 3px var(--shadow);
}

.search-button {
  font-size: var(--font-size-two);
  background-color: var(--secondary);
  color: #fff;
  border: 2px solid var(--border);
  border-radius: 4px;
  padding-left: 5px;
  transition: all 100ms ease-in-out;
}

.search-button:hover {
  opacity: 0.8;
}

.locator-field {
  font-size: var(--font-size-two);
  color: var(--secondary);
  text-shadow: 2px 2px 2px var(--shadow);
  padding-left: 5px;
  transition: all 100ms ease-in-out;
}

.locator-field:hover {
  opacity: 0.8;
  cursor: pointer;
}

.toggles {
  padding-top: 5px;
}

.dark-mode-switch {
  font-size: var(--font-size-switches);
  padding-top: 5px;
}

.switch-temp {
  font-size: var(--font-size-switches);
}

input.form-check-input:not(:focus) {
  background-color: var(--secondary);
  border-color: var(--secondary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

input.form-check-input:focus {
  box-shadow: none;
  border-color: var(--secondary);
}

input.form-check-input:focus:not(:checked) {
  background-color: var(--secondary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

input.form-check-input[type="checkbox"]:checked {
  background-color: var(--secondary);
  border-color: var(--border);
}

.city-display {
  text-align: center;
  margin: 15px auto 10px;
}

.date {
  font-size: var(--font-size-one);
  margin: auto;
}

#current-time {
  font-size: var(--font-size-two);
  margin-top: 5px;
}

.selected-city {
  font-size: var(--font-size-heading);
  line-height: 1.2;
  text-transform: capitalize;
}

.local-time {
  font-size: var(--font-size-two);
}

.current-weather {
  margin: 0px auto 5px;
}

.current-condition {
  text-align: center;
  line-height: 1.2;
}

.current-weather-pic {
  font-size: calc(4rem + 3vw);
}

.current-description {
  font-size: var(--font-size-two);
  text-transform: capitalize;
}

.current-temp {
  text-align: center;
  padding: 0px;
}

.real-temp-together {
  font-size: var(--font-size-heading);
}

.real-feel {
  font-size: var(--font-size-two);
}

.current-extra {
  font-size: var(--font-size-two);
  text-align: left;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 1vw;
}

.weather-lower i {
  font-size: var(--font-size-small-img);
  color: var(--accent);
}

.weather-lower {
  text-align: center;
  font-size: var(--font-size-two);
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-lower .col-2 {
  padding: 0px;
}

.weather-lower .sun-times {
  padding: 0px;
}

.tonight i {
  font-size: var(--font-size-small-img);
}

.tonight-temp {
  padding-left: 0px;
}

.moon-phase {
  font-size: var(--font-size-two);
  margin-top: 5px;
}

.forecast {
  margin-bottom: 10px;
  font-size: var(--font-size-two);
}

.forecast-day {
  text-align: center;
}

.forecast-img {
  font-size: var(--font-size-small-img);
}

.forecast-precip-img {
  font-size: calc(0.3rem + 0.5vw);
  vertical-align: middle;
  color: var(--accent);
}
.forecast-precip {
  font-size: var(--font-size-three);
}

.forecast-high {
  text-align: right;
}

.forecast-low {
  text-align: left;
}

.footer {
  text-align: center;
  font-family: "Cousine", monospace;
  font-size: var(--font-size-small);
  margin-top: 10px;
}

.gitHub {
  text-decoration: none;
  color: var(--secondary-accent);
}

.gitHub:hover {
  text-decoration: underline;
  color: var(--secondary-accent);
}
